[submodule "oblivion-emacs"]
	path = oblivion-emacs
	url = https://github.com/pomeo/oblivion-emacs.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
